In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler

In [8]:
data = pd.read_csv("test.csv")

In [9]:
data["datetime"] = pd.to_datetime(data["datetime"])

In [10]:
data["weekday"] = pd.DatetimeIndex(data["datetime"]).weekday
data["hour"] = pd.DatetimeIndex(data["datetime"]).hour
data["day"] = pd.DatetimeIndex(data["datetime"]).day
data["month"] = pd.DatetimeIndex(data["datetime"]).month
data["year"] = pd.DatetimeIndex(data["datetime"]).year

data = data.drop("datetime",axis=1)
data.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,weekday,hour,day,month,year
0,1,0,1,1,10.66,11.365,56,26.0027,3,0,20,1,2011
1,1,0,1,1,10.66,13.635,56,0.0000,3,1,20,1,2011
2,1,0,1,1,10.66,13.635,56,0.0000,3,2,20,1,2011
3,1,0,1,1,10.66,12.880,56,11.0014,3,3,20,1,2011
4,1,0,1,1,10.66,12.880,56,11.0014,3,4,20,1,2011

In [11]:
season = pd.get_dummies(data["season"])
season.columns = ["春", "夏", "秋", "冬"]

holiday = pd.get_dummies(data["holiday"])
holiday.columns = ["非holiday", "holiday"]

workingday = pd.get_dummies(data["workingday"])
workingday.columns = ["非workingday", "workingday"]

weather = pd.get_dummies(data["weather"])
weather.columns = ["天氣1", "天氣2", "天氣3", "天氣4"]

In [12]:
data = data.loc[:,["temp", "atemp", "humidity", "windspeed",   "hour","day","month","weekday","year"]]

data.loc[:,["temp", "atemp", "humidity", "windspeed",   "hour","day","month","weekday","year"]] = StandardScaler().fit_transform(data.loc[:,["temp", "atemp", "humidity", "windspeed",   "hour","day","month","weekday","year"]])

In [13]:
data = pd.concat([data, season, holiday, workingday, weather], axis=1)

In [14]:
data

,temp,atemp,humidity,windspeed,hour,day,month,weekday,year,春,...,秋,冬,非holiday,holiday,非workingday,workingday,天氣1,天氣2,天氣3,天氣4
0,-1.235966,-1.440193,-0.421172,1.620888,-1.671785,-1.564633,-1.622849,-0.003624,-1.007265,1,...,0,0,1,0,0,1,1,0,0,0
1,-1.235966,-1.181711,-0.421172,-1.531139,-1.527109,-1.564633,-1.622849,-0.003624,-1.007265,1,...,0,0,1,0,0,1,1,0,0,0
2,-1.235966,-1.181711,-0.421172,-1.531139,-1.382433,-1.564633,-1.622849,-0.003624,-1.007265,1,...,0,0,1,0,0,1,1,0,0,0
3,-1.235966,-1.267682,-0.421172,-0.197558,-1.237757,-1.564633,-1.622849,-0.003624,-1.007265,1,...,0,0,1,0,0,1,1,0,0,0
4,-1.235966,-1.267682,-0.421172,-0.197558,-1.093081,-1.564633,-1.622849,-0.003624,-1.007265,1,...,0,0,1,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6488,-1.235966,-1.267682,-0.213831,-0.197558,1.077060,1.729615,1.584898,-1.505456,0.992787,1,...,0,0,1,0,0,1,0,1,0,0
6489,-1.235966,-1.267682,-0.213831,-0.197558,1.221736,1.729615,1.584898,-1.505456,0.992787,1,...,0,0,1,0,0,1,0,1,0,0
6490,-1.235966,-1.267682,-0.213831,-0.197558,1.366412,1.729615,1.584898,-1.505456,0.992787,1,...,0,0,1,0,0,1,1,0,0,0
6491,-1.235966,-1.181711,-0.421172,-0.440396,1.511088,1.729615,1.584898,-1.505456,0.992787,1,...,0,0,1,0,0,1,1,0,0,0
6492,-1.235966,-1.181711,0.045345,-0.440396,1.655764,1.729615,1.584898,-1.505456,0.992787,1,...,0,0,1,0,0,1,1,0,0,0

In [15]:
import joblib

In [16]:
model = joblib.load('model')

In [17]:
result = model.predict(data)

In [18]:
output = pd.DataFrame({"count":result})

In [20]:
print(output)

           count
0      11.196429
1       4.375000
2       4.510714
3       3.375000
4       2.842857
...          ...
6488  317.946429
6489  205.782143
6490  146.050000
6491  110.767857
6492   67.910714

[6493 rows x 1 columns]